extends layout
block content
  h1 #{title}
  br
 
  table.table.table-striped.table-bordered           
    tr            
      - var date  = new Date();
      - var day   = date.getDate();
      - var month = date.getMonth() + 1;
      - var year  = date.getFullYear();
      td Hoy #{day + "/" + month + "/" + year}
    tr
      td(style="text-align:center")
          iframe(width='402px', height='480px', src='https://webchat.botframework.com/embed/InterCapITBot?s=eX1WlG2aaI8.cwA.EzU.ATfNvRTuX_dsfYXxbWQsxnFytXWWVJKSHcYb0EURM78', frameborder='0', allowfullscreen='allowfullscreen')      